body{
	background-color: var(--main-Red-bg-color);
}

.adminPanelLogin {
	height: 100% !important;
	font-family: Montserrat;
}

#formLogin {
	margin-left: 300px;
	margin-top: 100px;
}

#adminPassword,
#adminName {
	width: 100%;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#singInAdminPanelBtn {
	background-color: #e16a00;
	color: white !important;
	border: none;
	cursor: pointer;
	width: 100%;
}

#formLogin h1 {
	text-align: center;
	font-weight: bold !important;
	padding: 15px;
}

#singInAdminPanelBtn button:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

#logInContainer {
	padding: 16px;
}

#errorPassword span.psw {
	float: right;
	padding-top: 16px;
}

.error {
	display: block;
	margin-top: 3px;
	color: red;
	font-style: italic;
}

body {
	font-family: var(--mainFont);
}

a:hover,
active,
visited {
	color: #fff;
	text-decoration: none;
}

#side-nav {
	background-color: var(--main-Red-bg-color);
	height: 100wh;
}

#mainAdminPage {
	background-color: var(--mainPage-white-bg-color);
}

#line-between {
	height: 0.1rem;
	border-top: 1px solid #fff;
	width: 200px;
	opacity: 50%;
}


#logo-img {
	border: 0px solid transparent;
}

.x-logo {
	display: none;
	border: 0px solid transparent;
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

#searching-input:focus {
	outline: none;
	box-shadow: none !important;
}

/* .logo-sec-title {
	font-weight: 900;
} */

#nav-items img {
	width: 32.41px;
	height: 35.1px;
}

#toggleBtn {
	transition: all 0.8s;
}

.dropdown-menu {
	transition: all 0.5s;
}

#title {
	font-weight: 600;
}

#searching-sec {
	border-radius: 4rem;
	width: 24.688rem;
	border: 2px solid rgba(57, 31, 0, 0.48);
}

#searching-sec input {
	height: 38px;
	width: 16.3rem;
	border: transparent 0px solid;
}

#searching-sec input:focus {
	outline: none !important;
}

#src-btn {
	width: 5.688rem;
	height: 2.63rem !important;
	position: absolute !important;
	border-radius: 4rem !important;
	background-color: var(--main-btn-color);
	font-family: var(--btn-font-family);
	font-weight: 700;
	font-size: 14px;
	right: 0 !important;
}

#searching-results-contanier {
	width: 23.9rem;
	border-radius: 2.2rem !important;
	background-color: #f1f0f0;
}

#searching-results {
	overflow-y: auto;
	overflow-x: hidden;
}

#searching-results::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

#searching-results::-webkit-scrollbar-thumb {
	background: #720418;
	border-radius: 10px;
}

#searching-results::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 2px;
}

body::-webkit-scrollbar {
	width: 5px !important;
	height: 5px !important;
}

body::-webkit-scrollbar-thumb {
	background: #720418 !important;
	border-radius: 10px !important;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5) !important;
	border-radius: 2px !important;
}

form input,
textarea,
select {
	border-radius: 10px !important;
	border: 1px solid #e2e6ee;
	box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
	font-family: 'Roboto';
	font-weight: 400;
	color: #000;
}

form label {
	font-family: 'Roboto';
	font-weight: 400;
}

#btn-book-from,
#btn-about-from {
	background-color: var(--main-btn-color);
}

#join-us thead,
#contact-us thead {
	background-color: var(--main-Red-bg-color);
}

#join-us thead tr th,
#contact-us thead tr th {
	font-weight: 300 !important;
}

#tr-1 {
	background-color: var(--white-table-color);
}

#tr-2 {
	background-color: #fff;
}

#admin-sec-header-2 {
	display: none !important;
}

/* Contact Us Page Css start */
#form-control-contactPG{
	height:75px;
	border:1px solid #CECECE
}

#form-control-contactPG::placeholder{
	font-family: 'Crimson Pro', serif;
	font-size: 23px;
	color: #797667;
}

.btn-contactPG,.btn-contactPG-2{
	height:75px;
	background-color:var(--main-Orange-color) !important;
	font-family: 'Crimson Pro', serif;
	font-size: 30px;
}
.btn-contactPG:hover{
	transition: all 0.3s;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.btn-contactPG-2:hover{
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@media (max-width: 992px) {
	.btn-contactPG{
		display: none;
	}
	#form-control-contactPG{
		border-radius:5px !important;
	}
	
	.btn-contactPG-2{
		display: block !important;
		border-radius:5px !important;
		margin-top:69px !important;
	}

	.inp_div_contact{
		margin-top:32px !important;
	}

	#social-icons-contact{
		margin-top:340px !important;
	}

}
/* Contact Us Page Css end */

/* Loader */
#anime{
	width:100px !important;
	height:100px !important;
	z-index: 9999;
}
/* Loader */
/* 
.side-icon{
	width: 32px !important;
	height: 35px !important;
} */